# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/cache
wheelhouse/
.wheel

# PyInstaller builds
_MEIPASS*
*.spec

# Spyder project settings
.spyderproject
.spyproject

# Rope, Eclipse, and pydev
.ropeproject
.pyddev
.project
.metadata
.pydevproject
.settings
_pydev_bundle
_pysrc
*.egg-info/
.installed.cfg

# Environments
.env_dependencies

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.py-cov
.pytest_cache/
.mypy_cache/
.pytype_cache/
.ruff_cache/
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot

# Sphinx documentation
_build/
html/
_sphinx_build/
doctrees/
*.doctree

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
*~
*.orig
*.rej
.swp
.swo
*.diff
*.pod

# Temporary files
*~
*.tmp
*.bak
*.crdownload

# Microsoft VS Code
.vscode/# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/cache
wheelhouse/
.wheel

# PyInstaller builds
_MEIPASS*
*.spec

# Spyder project settings
.spyderproject
.spyproject

# Rope, Eclipse, and pydev
.ropeproject
.pyddev
.project
.metadata
.pydevproject
.settings
_pydev_bundle
_pysrc
*.egg-info/
.installed.cfg

# Environments
.env_dependencies

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.py-cov
.pytest_cache/
.mypy_cache/
.pytype_cache/
.ruff_cache/
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot

# Sphinx documentation
_build/
html/
_sphinx_build/
doctrees/
*.doctree

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
*~
*.orig
*.rej
.swp
.swo
*.diff
*.pod

# Temporary files
*~
*.tmp
*.bak
*.crdownload

# Microsoft VS Code
.vscode/
历史版本/